<!DOCTYPE html>
<html lang="ru">

<head>
	<title>shop/n/Bangusu</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="css/startp_style.css">
</head>

<body>
	<div class="header">
		<div class="logo_wrapper_left" style="letter-spacing: 0.335em">
			<a class="homelogolink" href="startpage.html">Bangusu</a>
		</div>
		<div class="action_wrapper_right">
			<a class="loginlink" style="letter-spacing: 0.335em">войти</a>
			<div class="actions">
				<a class="trashlink" href="#"><img src="img/icon/Trash.png" alt="img" /></a>
				<button class="menubutton"><img src="img/icon/menu+button.png" alt="img" /></button>
			</div>
		</div>
	</div>

	<div class="woman_block">
		<div class="img_container_w">
			<div class="woman_img"><img src="img/w_main.png" alt="img" /></div>
		</div>
		<div class="for_woman"><a href="w_page.html">для женщин</a></div>
	</div>
	<div class="all_container">
		<div class="all_bl"><a href="all_page.html">всё</a></div>
	</div>
	<div class="man_block">
		<div class="img_container_m">
			<div class="man_img"><img src="img/m_main.png" alt="img" /></div>
		</div>
		<div class="for_man"><a href="m_page.html">для мужчин</a></div>
	</div>

<!--
	<div class="registration_form">
	
	</div>
	
	<div class="login_form">
		
	</div>
-->

	<div class="footer">
		<div class="wewe">
			<div class="orblock">
				<div class="text_footer">
					<p>Наши магазины</p>
					<div> - <a href="#">Найти магазин по близости</a></div>
					<div> - <a href="#">Список всех магазинов</a></div>
				</div>
			</div>
			<div class="orblock">
				<div class="text_footer">
					<p>Контакты</p>
					<div style="margin-right: 34px">Обращаясь в клиентскую службу, я даю свое согласие на передачу моих данных за пределы моей страны/региона </div>
					<div><a href="#">Отправить email</a></div>
					<div>Телефон: 8 (800) 555 35-35</div>
				</div>
			</div>
			<div class="greyblock">
				<div class="text_footer">
					<p>Подписаться на Email рассылку</p>
					<p><input></p>
					<button>Подписаться</button>
				</div>
			</div>
			<div class="greyblock">
				<div class="text_footer">
					<p>Мы в соц. сетях</p>
					<div>
						<a href="#">Instagram</a>
					</div>
					<div>
						<a href="#">Twitter</a>
					</div>
					<div>
						<a href="#">VKontakte</a>
					</div>
					<div>
						<a href="#">Facebook</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body></html>